body {
  background-color: tomato;
  font-family: papyrus;
}

.container {
  background-color: lightgray;
  position: absolute;
  height: 95%;
  width: 45%;
  border-radius: 5px;
  transition: all .2s;
}

.container h1, h2 {
  white-space: nowrap;
  font-size: 2.5vw;
  font-weight: 500;
}

.container h4, p {
  color: goldenrod;
  font-size: 1.5vw;
  font-weight: 500;
}

input {
  height: 5%;
  width: 40%;
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 12px;
  padding-left: 15px;
  padding-right: 35px;
}

input:focus {
  border-color: black;
  transition: all .2s;
}

i {
  position: absolute;
  right: 40px;
  color: gray;
  font-size: 20px;
  cursor: pointer;
}

.container .fa-eye, .fa-eye-slash {
  position: absolute;
  color: gray;
  cursor: pointer;
  font-size: 20px;
}

.fa-eye-slash {
  visibility: hidden;
}

.reset {
  all: unset;
  float: right;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 300px;
  background-color: gold;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
